.chosen-item i {
  font-size: 2vw;
  color: #000;
}
.chosen-item i:hover {
  color: #0d6efd;
}
.chosen-item span {
  color: #fff;
  padding: 0.4vw 0.5vw;
  margin: 1vw;
}
.rest-menu {
  width: 90vw;
  max-width: 92.5vw;
  margin: 4vw auto;
  background-color: rgba(241, 241, 241, 1);
}
.rest-menu .row {
  padding: 1vw;
}
.rest-menu .row .col-4 {
  text-align: center;
}
.rest-menu p {
  font-size: 2vw;
  color: orangered;
  font-weight: 600;
}
.chosen-item {
  display: flex;
  padding: 1vw;
  justify-content: space-between;
}
.chosen-item .heading {
  color: #000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
}
